<h4>Details</h4>
<hr>

<div class="form-group col-md-6">
    <label>Unit Type<i class="text-danger">*</i></label>
    <select ng-model="newOrgUnit.level" ng-change="updateParents()" class="form-control">
        <option value="">Select Org Type</option>
        <option value="{{type.level}}" ng-repeat="type in tmpTypes">{{type.name}}</option>
    </select>
</div>

<div class="form-group col-md-6">
    <label>Parent</label>
    <select ng-model="newOrgUnit.parent" class="form-control" ng-disabled="!tmpParents">
        <option value="">Select Parent</option>
        <option value="{{parent.id}}" ng-repeat="parent in tmpParents">{{parent.name}}</option>
    </select>
</div>

<div class="form-group col-md-6">
    <label>Name <i class="text-danger">*</i></label>
    <input id="new_name" type="text" class="form-control" placeholder="Name" ng-model="newOrgUnit.name">
</div>

<div class="form-group col-md-6">
    <label>Short Name<i class="text-danger">*</i></label>
    <input id="new_shortname" type="text" class="form-control" placeholder="Short Name" ng-model="newOrgUnit.shortName">
</div>

<div class="form-group col-md-12">
    <label>Description</label>
    <textarea id="new_description" class="form-control" rows="3" placeholder="Description" ng-model="newOrgUnit.description"></textarea>
</div>

<div class="form-group col-md-6">
    <label>Code</label>
    <input id="new_code" type="text" class="form-control" placeholder="Code" ng-model="newOrgUnit.code">
</div>

<div class="form-group col-md-6">
    <label>URL</label>
    <input id="new_url" type="text" ng-change="validateUrl()"  class="form-control" placeholder="URL" ng-model="newOrgUnit.url">
    <span style="color:red" ng-show="!validUrl">Not a valid URL!</span>
</div>

<div class="form-group col-md-12">
    <label>Comment</label>
    <textarea id="new_comment" class="form-control" rows="3" placeholder="Comment"
              ng-model="newOrgUnit.comment"></textarea>
</div>

<div class="form-group col-md-6">
    <label>Opening date <i class="text-danger">*</i></label>
    <input id="new_openingdate" type="date" class="form-control" ng-model="newOrgUnit.openingDate" required>
</div>
<div class="form-group col-md-6">
    <label>Closed date</label>
    <input id="new_closeddate" type="date" class="form-control" ng-model="newOrgUnit.closedDate">
</div>

<div class="form-group col-md-6">
    <label>Latitude</label>
    <input id="new_latitude" type="text" class="form-control" placeholder="Latitude" ng-model="newCoordinates.lat"
           disabled>
</div>


<div class="form-group col-md-6">
    <label>Longitude</label>
    <input id="new_longitude" type="text" class="form-control" placeholder="Longitude" ng-model="newCoordinates.lng"
           disabled>
</div>

<div class="form-group col-md-12">
    <button class="form-control btn btn-default" ng-click="findme()">Get position</button>
</div>


<h4>Contact Information</h4>
<hr>
<div class="form-group col-md-6">
    <label>Contact Person</label>
    <input id="new_person" type="text" class="form-control" ng-model="newOrgUnit.contactPerson">
</div>
<div class="form-group col-md-6">
    <label>Address</label>
    <input id="new_address" type="text" class="form-control" ng-model="newOrgUnit.address">
</div>
<div class="form-group col-md-6">
    <label>Email</label>
    <input id="new_email" ng-change="validateEmail()" name="new_mail" type="text" class="form-control" ng-model="newOrgUnit.email">
    <span style="color:red" ng-show="!validEmail">Not a valid email address!</span>
</div>

<div class="form-group col-md-6">
    <label>Phone</label>
    <input id="new_phone" type="text" class="form-control" ng-model="newOrgUnit.phoneNumber">
</div>

<div class="form-group col-md-12">
    <button class="btn btn-primary" type="submit" name="new_add" ng-click="prepareNewUnit()"
            ng-disabled="!newOrgUnit.name || !newOrgUnit.shortName || !newOrgUnit.openingDate || !newOrgUnit.level || !validEmail || !validUrl">Add Unit
    </button>
</div>