<div ng-if="!editUnit" class="alert alert-warning">
    <strong>Oh snap!</strong> You need to select a organisation unit before you can edit.
</div>

<div ng-if="editUnit">
    <h4>Details</h4>
    <hr>

    <div class="form-group col-md-6">
        <label>Unit Type<i class="text-danger">*</i></label>
        <select ng-options="t.level as t.name for t in allTypes" ng-model="editUnit.level" ng-change="updateParents()"
                class="form-control"></select>
    </div>

    <div class="form-group col-md-6">
        <label>Parent</label>
        <select ng-options="p.id as p.name for p in allParents" ng-model="editUnit.parent.id" ng-init="updateParents()"
                class="form-control" ng-disabled="!allParents">
        </select>
    </div>

    <div class="form-group col-md-6">
        <label>Name <i class="text-danger">*</i></label>
        <input id="edit_name" type="text" class="form-control" placeholder="Name" ng-model="editUnit.name">
    </div>

    <div class="form-group col-md-6">
        <label>Short Name<i class="text-danger">*</i></label>
        <input id="edit_shortname" type="text" class="form-control" placeholder="Short Name"
               ng-model="editUnit.shortName">
    </div>

    <div class="form-group col-md-12">
        <label>Description</label>
        <textarea id="edit_description" class="form-control" rows="3" placeholder="Description"
                  ng-model="editUnit.description"></textarea>
    </div>

    <div class="form-group col-md-6">
        <label>Code</label>
        <input id="edit_code" type="text" class="form-control" placeholder="Code" ng-model="editUnit.code">
    </div>

    <div class="form-group col-md-6">
        <label>URL</label>
        <input id="edit_url" type="text" class="form-control" placeholder="URL" ng-model="editUnit.url">
    </div>

    <div class="form-group col-md-12">
        <label>Comment</label>
        <textarea id="edit_comment" class="form-control" rows="3" placeholder="Comment"
                  ng-model="editUnit.comment"></textarea>
    </div>

    <div class="form-group col-md-6">
        <label>Opening date <i class="text-danger">*</i></label>
        <input id="edit_openingdate" type="text" class="form-control" ng-model="editUnit.openingDate">
    </div>
    <div class="form-group col-md-6">
        <label>Closed date</label>
        <input id="edit_closeddate" type="text" class="form-control" ng-model="editUnit.closedDate">
    </div>

    <div class="form-group col-md-6">
        <label>Latitude</label>
        <input id="edit_latitude" type="text" class="form-control" placeholder="Latitude" ng-model="newCoordinates.lat"
               disabled>
    </div>

    <div class="form-group col-md-6">
        <label>Longitude</label>
        <input id="edit_longitude" type="text" class="form-control" placeholder="Longitude"
               ng-model="newCoordinates.lng" disabled>
    </div>

    <div class="form-group col-md-12">
        <button class="form-control btn btn-default" ng-click="findme()">Get position</button>
    </div>

    <h4>Contact Information</h4>
    <hr>
    <div class="form-group col-md-6">
        <label>Contact Person</label>
        <input id="edit_person" type="text" class="form-control" ng-model="editUnit.contactPerson">
    </div>
    <div class="form-group col-md-6">
        <label>Address</label>
        <input id="edit_address" type="text" class="form-control" ng-model="editUnit.address">
    </div>
    <div class="form-group col-md-6">
        <label>Email</label>
        <input id="edit_email" type="text" class="form-control" ng-model="editUnit.email">
    </div>

    <div class="form-group col-md-6">
        <label>Phone</label>
        <input id="edit_phone" type="text" class="form-control" ng-model="editUnit.phoneNumber">
    </div>

    <div class="form-group col-md-12">
        <button class="btn btn-primary" type="submit" name="edit_add" ng-click="editOrgUnit()"
                ng-disabled="!editUnit.name || !editUnit.shortName || !editUnit.openingDate">Save Changes
        </button>
        <button class="btn btn-danger" type="submit" name="edit_delete" ng-click="deleteOrgUnit()">Delete Unit
        </button>
    </div>
</div>