<div class="form-group col-md-12">
    <label>Search</label>
    <input type="text" class="form-control" placeholder="Search" ng-change="" ng-model="">
</div>

<div class="form-group col-md-6">
    <label>Border Options</label>
    <select ng-change="" ng-model="" class="form-control">
        <option value="">Select Border</option>
    </select>
</div>

<div class="form-group col-md-6">
    <label>Unit Group</label>
    <select ng-change="" ng-model="" class="form-control">
        <option value="">Select Unit Group</option>
    </select>
</div>

