<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="map-canvas" class="container map" ng-controller="mapController"></div>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li ng-click="goToState('search')" class="active"><a data-toggle="pill" href="#home">Search</a></li>
                <li ng-click="goToState('add')"><a data-toggle="pill" href="#menu1">Add</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>Search</h3>
                    <p>Some content.</p>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Add</h3>
                    <p>Some content in menu 1.</p>
                </div>
            </div>
        </div>
    </div>
</div>